/* Body styling */

/* Remove default margin */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Kanit, sans-serif;
    font-weight: 300;
    background-color: #00c9a7;
}

img {
    max-width: 100%;
    display: block;
}

/* Mobile Screen Size 320px upto 425px*/

main {
    background-image: linear-gradient(to bottom right, #845ec2, #b39cd0);
    box-shadow: 0px 0px 20px 10px #4b4453;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    width: 40%;
    margin: auto;
}

.heading {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

.game-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    align-items: center;
    gap: 0.625em;
}

.game-area {
    background-color: #fbeaff;
    position: relative;
    border-radius: 0.625em;
    margin: 0.625em;
    padding: 0.625em;
}

.game-selection {
    margin: 0.5em;
    width: 25%;
}

.result-area {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.625em;
    gap: 0.3125em;
}

.user-choice,
.computer-choice {
    background-color: #ff6f91;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.625em 1em;
    text-align: center;
    border-radius: 10px;
}

.result-display {
    display: flex;
    justify-content: center;
}

#result {
    background-color: #ff6f91;
    color: black;
    font-weight: bold;
    width: 50%;
    text-align: center;
    font-size: 1rem;
    padding: 0.625em;
    margin: 0.625em;
    border-radius: 10px;
}

.score-area {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.625em;
    gap: 0.3125em;
}

.user-score,
.computer-score {
    background-color: #f9f871;
    border-radius: 10px;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.6250em;
    text-align: center;
}

#user-count {
    color: green;
    font-weight: bold;
}

#computer-count {
    color: red;
    font-weight: bold;
} 

/* Buttons */

.game-btn {
    margin: auto;
    border-radius: 50%;
    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.game-btn:hover {
    transform: rotate(360deg);
}

.rock-btn:active,
.rock-btn:hover {
    background-color: #ff8080;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 60%);
}

.paper-btn:active,
.paper-btn:hover {
    background-color: #f9f871;
    color: black;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 60%);
}

.scissors-btn:active,
.scissors-btn:hover {
    background-color: #e480ff;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 60%);
}

.lizard-btn:active,
.lizard-btn:hover {
    background-color: #86de86;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 60%);
}

.spock-btn:active,
.spock-btn:hover {
    background-color: #80b3ff;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 60%);
}


/* Modal */
.question {
    cursor: pointer;
    border: none;
    background-color: inherit;
    margin: 0.3125em;
}

.fa-circle-question {
    font-size: 1.25rem;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    width: 80%;
    top: 10%;
    padding: 1.2em;
    min-height: 50%;
    position: absolute;
    z-index: 2;
    background-color: #fbeaff;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 20%); 
    border-radius: 15px;
  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  .modal ul {
    font-size: 1.2rem;
    list-style-type: none;
  }
  
  .btn-open {
    position: absolute;
  }
  
  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.3125em;
    background: none;
    border: none;
  }

  .fa-circle-xmark {
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    background-color: none;
}
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    z-index: 1;
  }
  
  .hidden {
    display: none;
  }


/* Media Queries from 760px. Tablet viewing */

@media (min-width: 760px) {

    /* Increase heading size */
    .heading {
        font-size: 2rem; 
    }

    /* Adjust the width of the choice display and score display for tablet viewing */
    .user-choice,
    .computer-choice {
        width: 30%;
    }

    .user-score,
    .computer-score {
        width: 30%;
    }
    
}

/* For small laptop upto medium desktop viewing */
@media (min-width: 1000px) {

    /* Moves the main game section into the center of the page  */
    main {
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
    }

    /* Adjust logo and heading size to suit desktop veiwing */
    .logo {
        width: 25%;
    }

    .heading {
        font-size: 1.5rem;
    }

    /* Displays the game buttons in a row */
    .game-controls {
        flex-wrap: nowrap;
    }

    .game-selection {
        margin: 0;
    }

    /* Adjust the width of the choice display and score display to suit desktop viewing */
    .user-choice,
    .computer-choice {
        width: 50%;
    }

    .user-score,
    .computer-score {
        width: 50%;
    }

    /* Positions the modal display higher up in aspect ratio to the screen. */
    .modal {
        top: -20%;
    }

}

    /* For larger desktop viewing */
@media (min-width: 1500px) {

    /* Position the 'question mark' font awesoem icon to the corner of the screen */
    .question {
        top: 0;
        left: 0;
        margin: 0.6250em;
    }

    /* Adjust the width of the choice display and score display to suit desktop viewing */
    .user-choice,
    .computer-choice {
        width: 30%;
    }

    .user-score,
    .computer-score {
        width: 30%;
    }

}